/* Версія 1.2.2 */
div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -20px;
	height: 60px;
	background-color: slateblue;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Arial, Verdana, sans-serif;
	color: yellow;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Arial, Verdana, sans-serif;
	color: yellow;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Arial, Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Arial, Verdana, sans-serif;
	color: #000000;
}

a:hover {
	font-weight: bold;
}
#button:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 670px;
	background-color: slateblue;
    color: yellow;
	margin-bottom: 10px;
    padding: 3px;
    font-size: 16px;
	font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 89%;
	height: 678px;
	background-color: yellow;
    color: slateblue;
	margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}

#footer {
	position: relative;
	height: 150px;
	background-color: slateblue;
	clear: both;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
	text-align: center;
	color: yellow;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
img {
	width: 140px;
	height:140px;
}
h3 {text-align: center;}

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:  25px;
	width:  135px;
	background-color:slateblue;
	font-family:Arial;
	color:yellow;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}
