/* Версія 1.5.9 від 2017/02/13 */
div {
	border-radius: 5px;
}

.header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -5px;
	height: 60px;
	background-color: slateblue;
	margin-bottom: 10px;
}

.name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Arial, Verdana, sans-serif;
	color: yellow;
}

#email{
	float: left;
	margin-right: 5px;
	font-family: Arial, Verdana, sans-serif;
	color: slateblue;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Arial, Verdana, sans-serif;
}

.right p, form {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Arial, Verdana, sans-serif;
	color: slateblue;
}

a:hover {
	font-weight: bold;
}
#button:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 709px;
	background-color: slateblue;
    color: yellow;
	margin-bottom: 0px;
    padding: 3px;
    font-size: 16px;
	font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 89%;
	height: 714px;
	background-color: yellow;
    color: slateblue;
	margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}

#footer {
	position: relative;
	height: 150px;
	background-color: slateblue;
	clear: both;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
	text-align: center;
	color: yellow;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
img {
	width: 140px;
	height:140px;
}
h3, h2 {text-align: center;}

ins {
    text-decoration: none;
}

form {
    display: inline-block;
}

#button {
    display: inline-block;
    height:  25px;
	width:  135px;
	background-color:slateblue;
	font-family:Arial;
	color:yellow;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}
 #button2 {
    display: inline-block;
    height:  25px;
	width:  135px;
	background-color:slateblue;
	font-family:Arial;
	color:yellow;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

.list {
    text-align: center;
}
table {
	
	background-color: yellow;
    color: slateblue;
	text-align: left;
    font-size: 18px;
}
